*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: olive;
    color: wheat;
}

//header
header{
    background-color: #5757;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: gold;
        text-decoration: none;
    }
    .active{
        display: none;
    }
}

//ListPostView
.container{
    width: 70vw;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .post{
        background-color: #5757;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 2px 2px 40px;
        .info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                color: gold;
                cursor: pointer;
            }

        }
    }
}

//AddPostView
form{
    width: 70vw;
    max-width: 900px;
    min-width: 70vh;
    background-color: #5757;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    h2{
        text-align: center;
    }
    fieldset{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        input{
            padding: 10px 20px;
            border-radius: 10px;
            border: none;
            outline: none;
        }
        textarea{
            resize: vertical;
            max-width: 900px;
            min-height: 100px ;
            outline: none;
            border-radius: 10px;
        }
    }
    button{
        background-color: gold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-weight: 900;
        cursor: pointer;
        
    }
}

//popup
.wrapper{
    position: fixed;
    background-color: #5757;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
.popup{
    background-color: wheat;
    color: rgb(99, 62, 62);
    width: 70%;
    height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .btn-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            color: rgb(204, 177, 25)
        };
    }
    button{
        border: none;
        background-color: crimson;
        padding: 10px 20px;
        border-radius: 5px;
        color: wheat;
        cursor: pointer;
    }
}
    
}
